body{
    background-color:#fcffe4;
    color:#805121;
    font-family:tahoma, sans-serif;
    
}
#title{
    text-align: top, right;
    margin-left:20px;
}

#name{
    margin-top:-10px;
    margin-left:20px;
    color:#418462;
}
#flowerBotLeft{
    width: 450px;
    height: auto;
    bottom:-95px;
    left:45px;
    transform:rotate(20deg);
    position:fixed;
    animation-name:slide-in-left;
    animation-duration:1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

}
#flowerTopRight{
    width: 400px;
    height: auto;
    top:-85px;
    right:-60px;
    transform:rotate(-120deg);
    position:fixed;
    animation-duration:1.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: slide-in-top;
}
#flowerBotRight{
    width: 300px;
    height: auto;
    bottom:10px;
    right:0px;
    animation-duration:1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: slide-in-right;
    
    position:fixed;
}
a{
    color:#805121;
}
a:active{
    color:orange;
}
.facts{
    color:#418462;
    font-size:1.2em;
}
#home{
    margin-left:20px;
    margin-top:-20px;
}

body > a{
    margin-left:20px;
    font-size:20px;
}
.image{
    margin-left:400px;
    margin-top:-100px;
    position:absolute;
}
.italic{
    font-style:italic;
}
.space{
    margin-left:150px;
}
#chrysanthemumImage{
    height:500px;
    width:auto;
    margin:50px;
}
#hyacinthImage{
    height:500px;
    width:auto;
}

@keyframes slide-in-left{

from{
    transform:translateX(-100%);
}
to{
    transform:translateX(45px);
    transform: rotate(20deg);
}
}

@keyframes slide-in-top{
    from{
        transform: rotate(-90deg);
        transform:translateY(-100%);
        

    }
    to{
        transform:translateY(-85px);
        transform: rotate(-120deg);
    }
}

@keyframes slide-in-right{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(0);
        transform: rotate(-90deg);
    }
}